__pycache__/
*.py[cod]
.venv/
.mypy_cache/

node_modules/
npm-debug.log*

.idea/
.vscode/

.env

static/*
!static/assets/

civ_ai_logs/
*.monitor.csv
events.out.tfevents.*

agents/checkpoints/
/backend/tests/
