[tool.ruff]
line-length = 120
select = ["E", "F", "I"]

[tool.mypy]
python_version = "3.10"
strict = true
ignore_missing_imports = true
plugins = ["pydantic.mypy"]
disallow_untyped_decorators = false
